* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Comic Neue", serif;
}
html,
body {
  scroll-behavior: smooth;
  background-color: #88bcee;
}
header {
  /* background-image: url(image/category/cloths/DSC08513.jpg); */
  /* filter: blur(8px); */
  background-blend-mode: multiply;

  color: white;
  background-size: cover;
  background-repeat: no-repeat;
}

.head {
  background-color: white;
}
.container-lg {
  position: relative;
  background: url(image/category/cloths/DSC08513.jpg) no-repeat center;
  background-color: black;
  background-size: cover;
  width: 100%;
  height: 400px;
  overflow: hidden;
}
.container-lg img {
  padding: 50px;
  width: 100%;
  height: auto;
}
.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
}
.banner-text h1 {
  margin: 0;
  font-size: 30px;
}
.banner-text h1 span {
  border: 6px solid white;
  padding: 6px 14px;
  display: inline-block;
}
.cen {
  margin: 20px;
  font-size: 26px;
  display: block;
}
.button {
  color: #313131;
  padding: 10px 24px;
  background: #f1f1f1;
  text-decoration: none;
  border-radius: 10px;
  transition: 0.6s;
}
.button:hover {
  opacity: 0.6;
}
nav {
  position: sticky;
  width: 100%;
  display: flex;
  list-style: none;
  /* background-color: #fff; */
  /* opacity: 0%; */
}
.container row {
  position: absolute;
  color: white;
  background-color: black;
}

#category {
  background-color: white;
  color: black;
  height: 100px;
}
.new-arrival {
  height: 200px;
}
.promotion {
  background-color: white;
  height: 200px;
}
.service {
  display: block;
  height: 200px;
  font-size: xx-large;
  overflow: hidden;
}
.box {
  text-align: center;
  width: 50%;
  margin-top: 100px;
}

footer {
  background-color: white;
  font-size: small;
  height: 50px;
}
footer a {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: white;
  text-decoration: none;
  color: 88bcee;
  border: 10px solid white;
  border-radius: 20px;
}
